<div class="min-h-screen bg-gradient-to-bl from-pink-200 to-cyan-300  flex">
<div class="w-[80%] min-h-full mx-auto flex items-center justify-center flex-col space-y-5 myanimation md:flex-row md:space-y-0 md:order-1 md:space-x-20">

    <!-- brand-title -->
<div class="order-2 space-y-10 md:space-y-28 animateme2">

    <div class="">
        <p class="text-4xl font-semibold md:text-6xl">The Westmire</p>
    <p class="text-4xl">A56 Headset</p>
    </div>

    <div class="flex space-x-5">
        <div class=""><span class="bg-black  text-white px-5 py-6 rounded-full font-bold hover:opacity-80">Buy Now</span></div>
        <div class=""><span class="bg-cyan-50 px-5 py-6 rounded-full hover:opacity-80">Shop All</span></div>
    </div>
</div>


<!-- product img -->
<div class="flex justify-center items-center order-1 py-10 md:py-0 md:items-center md:w-1/2 md:order-2 ">
    <img class="animateme w-[85%] md:w-[90%]" src="../../assets/pngwing.com.png" alt="" srcset="">
</div>
</div>
</div>
